<div class='main-container'>
  <h2 class='timer-message'>制限時間</h2>
  <h2 class='timer'>00:00</h2>
  <div class='game-container'>
    <div class='memephinx'><%= image_tag 'memephinx.jpg', class: 'image' %></div>
    <div class='question'>問題</div>
  </div>
  <div class='answer'>解答</div>
</div>

