<div class='main-container'>
  <h2 class='timer-message'>制限時間</h2>
  <h2 class='timer'>00:00</h2>
  <div class='game-container'>
    <div class='memephinx'><%= image_tag 'memephinx.jpg', class: 'image' %></div>
    <div class="question-container">
        <p>マジでやるの？しょうがないにゃあ</p>
        <%= link_to 'いいや限界だ押すね今だッ', questions_answer_path %>
      </div>
    </div>
  </div>
</div>

