<main class="top-container">
  <div class="explanation">
    <p class='rule'>ルール説明</p>
    <p class='description'>あなたはインタネットミームについてどのくらい知っていますか？<br>インターネットに染まったスフィンクスから出される5つの問題に正解してお宝を手に入れよう!!</p>
  </div>
  <%= link_to 'start', questions_game_path, class:"game-start" %>
</main>