.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.memephinx .image {
  width: 450px;
  height: 450px;
  margin: 16px 0;
}

.question-container {
  border: solid 2px brown;
  background: #ffffff;
  width: 650px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.content {
  text-align: left;
}

.answer {
  margin: auto 0 32px 0;
}

input[type="text"] {
  width: 250px;
  height: 30px;
}

input[type="submit"] {
  height: 30px;
  margin-left: 8px;
}

.line {
  font-size: 18px;
  text-align: left;
}

.reply {
  margin: auto 0 32px 0;
  height: 64px;
}