.main-container {
  text-align: center;
  justify-content: center;
}

.timer-message {

}

.timer {
  margin-bottom: 32px;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.memephinx .image {
  width: 500px;
  height: 500px;
}

.question-container {
  border: solid 2px brown;
  background: #ffffff;
  width: 500px;
  height: 500px;
}

.answer {
  margin-top: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 250px;
  height: 30px;
}

input[type="submit"] {
  height: 30px;
  margin-left: 8px;
}